@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.gradient-background-use-button {
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.shine-border {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #090b8f, #0e2dd8, #2f3a6b, #a166ab, #5073b8, #462e9b, #2d2953);
  background-size: 50%;
  left: 0;
  top: 0;
}

;

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.card-header {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #b6cf23, #ddcf04, #ebc805);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.shine-border:hover {
  animation: gradient 2s linear infinite;
  background: linear-gradient(3333330deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #6fba82);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /*  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }  */
}

.shine-border-gold {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #ecd030, #d4be3d, #a59e42, #d89709, #b8a050, #b8730c, #d86405);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.gradient-background-trop-card {
  background: linear-gradient(300deg, deepskyblue, #6e9fbe, #5ea7d4, #359ddd, #1887cc, #0c7abe);
  background-size: 360% 360%;
  animation: gradient-animation 36s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-equipament-card {
  background: linear-gradient(91deg, #57809b, #3f7ba3, #2d7aad, #106ba7, #03456f);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-pet-card {
  background: linear-gradient(91deg, #907453, #a97e4a, #a57438, #9d6725, #b36b12);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-hero-card {
  background: linear-gradient(91deg, #ffffff, #18a8c6, #185bc6, #18acc6, #18c66f, #041e94);
  background-size: 360% 360%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-yellow-star {
  background: linear-gradient(300deg, #ffffff, #bdbe49, #92920e, #464607, #575702);
  background-size: 360% 360%;
  animation: gradient-animation 36s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-black-star {
  background: linear-gradient(300deg, #ffffff, #464607, #21211a, #272717, #27270d, #d4d479, #adad2a);
  background-size: 420% 420%;
  animation: gradient-animation 42s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.shine-border-gold:hover {
  animation: gradient 2s linear infinite;
  background: linear-gradient(3333330deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #6fba82);
  background-size: 50%;
  left: 0;
  top: 0;
}

/* .shine-border-green {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #89cc89, #67c96c, #59d36a, #58ca62, #1ba53e, #462e9b, #2d2953);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } 
}  */

.gradient-background-th-17 {
  background: linear-gradient(300deg, #5ddbdb, #132121, #465050, #e9f5f5);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-16 {
  background: linear-gradient(300deg, #ebd866, #7e4314, #b7200c, #f53117);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-15 {
  background: linear-gradient(300deg, #7b62d8, #6142d2, #a642d2, #d242a3);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-14 {
  background: linear-gradient(300deg, #57e141, #1c6511, #19ba8c, #0bbfdb);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-13 {
  background: linear-gradient(300deg, #19ba8c, #0bbfdb, #0b63db, #09346d);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-12 {
  background: linear-gradient(300deg, #19ba8c, #0bbfdb, #0b63db, #09346d);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-11 {
  background: linear-gradient(300deg, #a3bfe5, #667a97, #4b5d76, #383f48);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.shine-border-green {
  background: linear-gradient(300deg, #0cede1, #eef720, #870eeb, #0edfeb);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-variation-button {
  background: linear-gradient(300deg, darkviolet, blue, #4701ba, #630788, #900ac6);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}