@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.gradient-background-use-button {
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shine-border {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #090b8f, #0e2dd8, #2f3a6b, #a166ab, #5073b8, #462e9b, #2d2953);
  background-size: 50%;
  left: 0;
  top: 0;
}

;

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.card-header {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #b6cf23, #ddcf04, #ebc805);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.shine-border:hover {
  animation: gradient 2s linear infinite;
  background: linear-gradient(3333330deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #6fba82);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /*  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }  */
}

.shine-border-gold {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #ecd030, #d4be3d, #a59e42, #d89709, #b8a050, #b8730c, #d86405);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  /* 50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } */
}

.shine-border-gold:hover {
  animation: gradient 2s linear infinite;
  background: linear-gradient(3333330deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #6fba82);
  background-size: 50%;
  left: 0;
  top: 0;
}

/* .shine-border-green {
  animation: gradient 3s linear infinite;
  background: linear-gradient(3333330deg, #89cc89, #67c96c, #59d36a, #58ca62, #1ba53e, #462e9b, #2d2953);
  background-size: 50%;
  left: 0;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 100%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  } 
}  */

.gradient-background-th-17 {
  background: linear-gradient(300deg, #5ddbdb, #132121, #465050, #e9f5f5);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-16 {
  background: linear-gradient(300deg, #ebd866, #7e4314, #b7200c, #f53117);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-15 {
  background: linear-gradient(300deg, #7b62d8, #6142d2, #a642d2, #d242a3);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-14 {
  background: linear-gradient(300deg, #57e141, #1c6511, #19ba8c, #0bbfdb);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-13 {
  background: linear-gradient(300deg,#19ba8c,#0bbfdb,#0b63db,#09346d);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-12 {
  background: linear-gradient(300deg,#19ba8c,#0bbfdb,#0b63db,#09346d);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background-th-11 {
  background: linear-gradient(300deg,#a3bfe5,#667a97,#4b5d76,#383f48);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shine-border-green {
  background: linear-gradient(300deg, #0cede1, #eef720, #870eeb, #0edfeb);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.game-button {
  background: repeating-linear-gradient(45deg, #2ac037, #54d440 5px, #2ddb3b 5px, #36eb1b 10px);
  box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0, 0, 0, .3);
  border-bottom: 3px solid rgba(40, 117, 29, 0.5);
  text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
}

.game-button:hover {
  top: 2px;
  box-shadow: 0 1px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0, 0, 0, .3);
}





.couche1 {
  position: relative;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 5px;
  width: 75px;
  height: 25px;
  background: black;
  -webkit-box-shadow: 0px 11px 2px #301C09;
  -moz-box-shadow: 0px 11px 2px #301C09;
  box-shadow: 0px 11px 2px #301C09;
  cursor: pointer;



}

.couche2 {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 4px;
  width: 73px;
  height: 23px;
  margin-top: 3px;
  margin-left: 3px;
  background: #FDA80D;
  -webkit-box-shadow: 0px 9px 0px #AF6B06;
  -moz-box-shadow: 0px 9px 0px #AF6B06;
  box-shadow: 0px 9px 0px #AF6B06;

}

.couche23 {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 4px;
  border-radius: 10px;
  width: 73px;
  height: 20px;
  margin-top: 5px;
  margin-left: 1px;
  -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
  -moz-box-shadow: 0px -4px 5px 0px #FFDC33;
  box-shadow: 0px -4px 5px 0px #FFDC33;


}

.couche3 {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 4px;
  margin-top: 0px;
  margin-left: 5px;
  width: 66px;
  height: 20px;
  background: rgba(255, 187, 42, 1);
  -webkit-box-shadow: 0px 4px 3px 0px #FE8906;
  -moz-box-shadow: 0px 4px 3px 0px #FE8906;
  box-shadow: 0px 4px 3px 0px #FE8906;

}

.couche4 {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 3px;
  width: 60px;
  height: 10px;
  background: #FFD053;

}

.couche5 {
  position: absolute;
  -webkit-border-radius: 45%;
  -moz-border-radius: 45%;
  border-radius: 15%;
  margin-top: 0px;
  margin-left: 267px;
  width: 2px;
  height: 3px;
  background: #FFF1B6;

}

.battle {
  position: absolute;
  font-family: "bungee", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFCC;
  font-size: 1em;
  margin-bottom: 10px;
  margin-left: 13px;
  text-shadow: -1px 0 1px #582E00,
    1px 0 1px #582E00,
    0 -1px 1px #582E00,
    0 4px 1px #582E00,
    -2px 4px 1px #582E00,
    2px 3px 2px #582E00;
}

/*effects*/
.couche1:active {
  width: 280px;
  height: 95px;
}

.couche1:active .couche2 {
  width: 274px;
  height: 89px;
}

.couche1:active .couche23 {
  width: 272px;
  height: 75px;
}

.couche1:active .couche3 {
  width: 261px;
  height: 77px;
}

.couche1:active .couche4 {
  width: 255px;
  height: 32px;
}

.couche1:active .couche5 {
  width: 6px;
  height: 8px;
  margin-left: 248px;
}

.couche1:active .battle {
  margin-top: -3px;
  margin-left: 75px;
}



/*red*/


#red2 {
  background: #FC3632;
  -webkit-box-shadow: 0px 9px 0px #9C1814;
  -moz-box-shadow: 0px 9px 0px #9C1814;
  box-shadow: 0px 9px 0px #9C1814;

}

#red23 {
  -webkit-box-shadow: 0px -4px 5px 0px #FE5970;
  -moz-box-shadow: 0px -4px 5px 0px #FE5970;
  box-shadow: 0px -4px 5px 0px #FE5970;

}

#red3 {
  background: #FC4262;
  -webkit-box-shadow: 0px 4px 3px 0px #E42625;
  -moz-box-shadow: 0px 4px 3px 0px #E42625;
  box-shadow: 0px 4px 3px 0px #E42625;

}

#red4 {
  background: #FF6666;

}

#red5 {
  background: #FFC8C8;


}

#battle_red {
  text-shadow: -1px 0 1px #990000,
    1px 0 1px #990000,
    0 -1px 1px #990000,
    0 4px 1px #990000,
    -2px 4px 1px #990000,
    2px 3px 2px #990000;
  color: #FFFFCC;
}




/*green*/

#green2 {
  background: #09CC48;
  -webkit-box-shadow: 0px 9px 0px #0D8F23;
  -moz-box-shadow: 0px 9px 0px #0D8F23;
  box-shadow: 0px 9px 0px #0D8F23;

}

#green23 {
  -webkit-box-shadow: 0px -4px 5px 0px #60DA61;
  -moz-box-shadow: 0px -4px 5px 0px #60DA61;
  box-shadow: 0px -4px 5px 0px #60DA61;

}

#green3 {
  background: #30ED45;
  -webkit-box-shadow: 0px 4px 3px 0px #25D039;
  -moz-box-shadow: 0px 4px 3px 0px #25D039;
  box-shadow: 0px 4px 3px 0px #25D039;

}

#green4 {
  background: #50FF65;

}

#green5 {
  background: #D9FFFF;


}

#battle_green {
  text-shadow: -1px 0 1px #005F00,
    1px 0 1px #005F00,
    0 -1px 1px #005F00,
    0 4px 1px #005F00,
    -2px 4px 1px #005F00,
    2px 3px 2px #005F00;
  color: #FEFEFE;
}




/*blue*/

#blue2 {
  background: #2199FF;
  -webkit-box-shadow: 0px 9px 0px #004FA5;
  -moz-box-shadow: 0px 9px 0px #004FA5;
  box-shadow: 0px 9px 0px #004FA5;

}

#blue23 {
  -webkit-box-shadow: 0px -4px 5px 0px #3EBAFF;
  -moz-box-shadow: 0px -4px 5px 0px #3EBAFF;
  box-shadow: 0px -4px 5px 0px #3EBAFF;

}

#blue3 {
  background: #4CADFF;
  -webkit-box-shadow: 0px 4px 3px 0px #2181FC;
  -moz-box-shadow: 0px 4px 3px 0px #2181FC;
  box-shadow: 0px 4px 3px 0px #2181FC;

}

#blue4 {
  background: #67BCFF;

}

#blue5 {
  background: #D9FFFF;


}

#battle_blue {
  text-shadow: -1px 0 1px #002F83,
    1px 0 1px #002F83,
    0 -1px 1px #002F83,
    0 4px 1px #002F83,
    -2px 4px 1px #002F83,
    2px 3px 2px #002F83;
  color: #FEFEFE;
}